<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.publicPath %>icons/logo.png" />
    <script src="<%= htmlWebpackPlugin.files.publicPath %>lib/polyfill.min.js" ></script>
    <!-- <%= JSON.stringify(htmlWebpackPlugin) %> -->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>